<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxc.todo.dao.TargetMapper">

    <resultMap id="targetResultMap" type="com.xxc.todo.entity.Target">
        <id property="id" column="id"/>
        <result property="userID" column="userid"/>
        <result property="name" column="name"/>
        <result property="depict" column="depict"/>
        <result property="endDate" column="enddate"/>
        <result property="dotimes" column="dotimes"/>
        <result property="latestdo" column="latestdo"/>
    </resultMap>

    <select id="getAllTargetByUserid" parameterType="int" resultMap="targetResultMap">
        select * from target where userid = #{userid}
    </select>

    <insert id="addTarget" parameterType="com.xxc.todo.entity.Target" useGeneratedKeys="true" keyProperty="id" >
        insert into target(userid,name,depict,enddate) values (#{userid},#{name},#{depict},#{enddate})
    </insert>


</mapper>